/*Dezmondo7 Portfolio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
}

/*<<<<<<<<<-------HEADER------->>>>>>>>>*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}


header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_button {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
} 

.action_button {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_button:hover {
    scale: 1.05;
    color: #fff;
}

.action_button:active {
    scale: 0.95;
}

/*<<<<<<<<<<-------Dropdown Menu-------->>>>>>>>>>>*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;  
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_button {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*<<<<<<<<<<-------Hero-------->>>>>>>>>>>*/
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*------Top Image--------*/
.top-image {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 15px;
    right: 40px;
}
/*Start of Grid*/

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, [col] 150px ) ;
    grid-template-rows: repeat(2, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .box .box {
    background-color: #ccc;
    color: #444;
  }

  .a {
    grid-column: col / span 2;
    grid-row: row;
  }

  .b {
    grid-column: col 3 / span 2;
    grid-row: row;
  }

  .c {
    grid-column: col / span 2;
    grid-row: row 2;
  }

  .d{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .e {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .f {
    grid-column: 1;
    grid-row: 2;
  }

  .g {
    grid-column: 2;
    grid-row: 2;
  }




/*<<<<<<<<<<-------Responsive Design-------->>>>>>>>>>>*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_button {
        display: none;
    }

    .navbar .toggle_button {
        display: block;
    }

    .dropdown_menu {
        position: relative;
        display: block;
        justify-content: center;
        margin-bottom: 20px;
    }
}

/*<<<<<<<----Mobile Design--------->>>>>>>>>*/

@media (max-width: 600px) {
.dropdown_menu {
    position: relative;
    left: 2rem;
    width: unset;
}

.wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(1, [col] 150px ) ;
    grid-template-rows: repeat(2, [row] auto  );
    color: #444;
  }
}

